$grayBorder: 1px solid gray;

.info-table{
	border: $grayBorder;
	table-layout: fixed;
    border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
.info-table th {
    cursor: pointer;
	font-weight: normal;
	padding: 5px;
	background: #bebebe;
	border: $grayBorder;
    &:hover {
        background: #9c9c9c;
    }
}

.info-table td{
	padding: 5px 10px;
	border: $grayBorder;
	text-align: left;
}

.info-table__row{
	cursor: pointer;
	&:hover{
		background: #bbbbbb !important;
	}
	&:nth-child(odd) {
		background: #fff;
	}
	&:nth-child(even){
		background: #e7e7e7;
	}
}

.info-table .sorted {
    font-weight: bold;
}