$grayBorder: 1px solid gray;

.info-table{
	border: $grayBorder;
	table-layout: fixed;
    border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
.info-table th {
	position: relative;
    cursor: pointer;
	font-weight: normal;
	padding: 5px;
	background: #bebebe;
	border: $grayBorder;
	user-select: none;
    &:hover {
        background: #9c9c9c;
    }
}

.info-table td{
	padding: 5px 10px;
	border: $grayBorder;
	text-align: left;
}

.info-table__row{
	cursor: pointer;
	&:hover{
		background: #bbbbbb !important;
	}
	&:nth-child(odd) {
		background: #fff;
	}
	&:nth-child(even){
		background: #e7e7e7;
	}
}

.info-table .sorted {
    font-weight: bold;
}

.filterIcon {
	position: absolute;
	left: 5px;
	width: 20px;
	height: 20px;
}

.sortIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
}

.rotated {
	transform: rotate(180deg);
}