<table class="info-table">
        <tr class="info-table__row" (click)="handleHeaderClick($event)">
            <th [id]="column.key" [class.sorted]="column.value.isSorted" *ngFor="let column of columnsArray | keyvalue: originalOrderComparator">
                <div *ngIf="column.value.filtrable">
                    <filter-popup
                        *ngIf="column.value.isFilterActive"
                        [fieldToFilter]="column.key"
                        [filterValue]="filters.get(column.key) ?? ''"
                        (onPopupClose)="togglePopup($event)"
                        (onFilterChange)="handleFilterChange($event)"
                    ></filter-popup>
                    <img class="filterIcon" src="assets/filter.svg" (click)="handleFilterIconClick($event, column.key)">
                </div>
                {{column.value.columnText}}
                <img *ngIf="column.value.isSorted" [class.rotated]="column.value.isIconRotated" src="assets/arrow.svg" class="sortIcon" alt="">
            </th>
        </tr>
        <tr class="info-table__row" *ngFor="let post of posts; let i = index" (click)="handleRowClick(i)">
            <td>{{post.authorName}}</td>
            <td>{{post.authorCity}}</td>
            <td>{{post.title}}</td>
            <td>{{post.commentsAmount}}</td>
        </tr>
</table>