$closeBtnSize: 17px;

.popup-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: rgb(187, 201, 216);
    top: 100%;
    left: 0;
    border: 2px solid;
    border-radius: 10px;
    cursor: default;
}

.popup-window__filter-input {
    width: 80%;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.popup-window__close-btn {
    position: absolute;
    background-color: #a9a9a9;
    color: black;
    right: 3px;
    top: 3px;
    text-align: center;
    width: $closeBtnSize;
    line-height: $closeBtnSize;
    height: $closeBtnSize;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
        &:hover {
            background-color: rgb(190, 38, 38);
            box-shadow: 0px 0px 5px 1px black;
        }
}